.mypy_cache/*
.pytest_cache/*
tmp/*
tests/cobertura.xml
scripts/*
terraform/*
terraform/.terraform/*
.terraform/*
.git
tests/*
venv/*
*.egg-info
*.tif
cc-test-reporter
coverage.xml
test.log
README.md
.idea/*
.coverage
.DS_Store
docker-compose.*
.secrets.baseline
.pre-commit-config.yaml