.mypy_cache/*
.pytest_cache/*
gfw-data-lake-dev/*
gfw-data-lake/*
docker/*
scripts/*
terraform/*
terraform/.terraform/*
.git
tests/*
venv/*
*.egg-info
*.tif
cc-test-reporter
coverage.xml
test.log
.idea/*
.coverage
.DS_Store