[settings]
line_length = 88
multi_line_output = 3
include_trailing_comma = True
known_third_party = _pytest,aenum,affine,boto3,botocore,click,dateutil,dill,geojson,geopandas,google,moto,numpy,psutil,psycopg2,pydantic,pyproj,pytest,rasterio,retrying,shapely,sqlalchemy,yaml