[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-cov = "*"
pre-commit = "*"
moto = "*"

[packages]
boto3 = "*"
click = "*"
geojson = "*"
parallelpipe = "*"
psutil = "*"
psycopg2 = "*"
pydantic = "*"
pyproj = "*"
retrying = "*"
PyYAML = "*"
Shapely = "*"
SQLAlchemy = "*"
rasterio = "*"
aenum = "*"
google-cloud-storage = "*"
typer = "*"

[requires]
python_version = "3.8"
