[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==21.9b0"  # Pin to avoid having to allow pre-releases
detect-secrets = "*"
flake8 = "*"
moto = "*"
pre-commit = "*"
pytest = "*"
pytest-cov = "*"

[packages]
aenum = "*"
boto3 = "*"
click = "*"
geojson = "*"
google-cloud-storage = "*"
numpy = "==1.20.1"
parallelpipe = "*"
psutil = "*"
psycopg2 = "*"
pydantic = "*"
pyproj = "==3.0.0.post1"
rasterio = "==1.2.0"
retrying = "*"
PyYAML = "*"
Shapely = "==1.7.1"
SQLAlchemy = "*"
typer = "*"

[pipenv]
allow_prereleases = false

[requires]
python_version = "3.8"